# Build results
[Bb]in/
[Oo]bj/

# Visual Studio / VS Code
.vs/
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix

# NuGet
**/packages/
